#coming{
    height: 100vh;
    background-color: var(--colorPrimary);
}
#coming h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    margin: auto;
    color: #fff !important;
}
#coming h1 span{
    color: var(--colorSecondary);
}
#coming img{
    width: 56px;
    height: 56px;
}
#coming .profile{
    top: 10%;
    left: 10%;
}
#coming .lamp{
    left: 12%;
    bottom: 32%;
}
#coming .lampTwo{
    right: 12%;
    bottom: 42%;
}
#coming .add_one{
    top: 20%;
    left: 48%;
}
#coming .bag{
    bottom: 65px;
    left: 30%;
}
#coming .bagTwo{
    top: 15%;
    right: 10%;
}
#coming .contacts{
    bottom: 16%;
    right: 22%;
}