postgredb/
redisdb/
.env
.venv/
.vscode/
.DS_Store
venv/
.idea/
*.pyc
*.log
app/db.sqlite3
**/migrations/**
**/__pycache__/**
app/media/
_development/postgresdb/
data/
old_templates
old_assets
app/app/settings/prod.py
app/app/settings/dev.py
app/app/settings/stg.py
*.ini
app/locale/
node_modules
yarn.lock