/* RESET STYLE */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style-type: none !important;
  outline: none;
  font-family: "Poppins";
}

body {
  overflow-x: hidden;
}

button {
  border: none;
}
a {
  color: var(--colorTextPrim);
}
a:hover {
  color: var(--colorTextPrim);
}

p {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 29px;
  }
  h4 {
    font-size: 1.25rem;
    line-height: 24.2px;
  }
  p {
    font-size: 14px;
    line-height: 19px;
  }
  .count_box div {
    margin-right: 16px !important;
  }
  .count_box h5 {
    font-size: 15px !important;
  }
  .count_box p {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 480px) {
}
